  .tree {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .node {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }

  .tree-children {
    display: flex;
    flex-direction: column;
  }

  .arrow {
    margin: 0 5px;
  }


  .Array-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
  }

  .array{
    display: flex;
    flex-direction: row;
  }

  .Maindiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-color:cadetblue;
    height: 30vh;
    border-radius: 20px;
    width: fit-content;
    margin-left:  30%;
  }
